body {
    background-image: url(gift-3261509_1280.jpg);
    background-repeat: no-repeat;
    width: 1024px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 250px;

    span {
        margin: 0 auto;
        background-color: black;
        padding: 22px;
        color: aliceblue;
        border-radius: 8px;
    }
}